# SPDX-License-Identifier: CECILL-C
# Copyright (c) 2026 Philippe Leduc

CONFIG_BOARD_QEMU_X86_64=y
CONFIG_KICKOS_CORES_EIGHT=y
CONFIG_KICKOS_MULTICORE_SHARED=y
CONFIG_KICKOS_ENABLE_SELFTEST=y
CONFIG_KICKOS_BENCH=y
CONFIG_KICKOS_MAX_THREADS=32
CONFIG_KICKOS_MAX_ENDPOINTS=16
CONFIG_KICKOS_TASK_ENDPOINT_BUDGET=12
CONFIG_KICKOS_CAP_TABLE_SUPPLY=32
