CONFIG_BOARD_PICOPI=y

# Adds the test-only self-test syscalls the TAP suite calls.
CONFIG_MEMORY_MODEL_MPU=y
CONFIG_KICKOS_USER_STACK_SIZE=8192
CONFIG_KICKOS_IDLE_STACK_SIZE=512
CONFIG_KICKOS_ROOT_STACK_SIZE=8192
CONFIG_KICKOS_ENABLE_SELFTEST=y
